<row centered>
  <column class="header" cols="6">
    <h1><span class="primary-color"><i class="fa fa-comment"></i> Face</span><span class="error-color">chats</span>.<sup>alpha</sup></h1>
    <span> - Chat with the world using Facebook anonymously.</span> <br/>
    <span> - Facechat is a project prototype of 2015 Taiwan Hackathon.</span> <br/>
    <span> - Server status: <strong>down</strong>, we are evaluating if we should maintain and improve this service now.</span>
    <button type="primary" small outline style="float: right;" class="demo-btn">Live Demo</button>
  </column>
</row>
