<footer>
 <row centered>
   <column cols="6" class="footer text-right">
     <span class="primary-color">Face</span><span class="error-color">chats</span>. by <a href="#">Asychronous</a>
   <column>
 <row>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
