<footer>
 <row centered>
   <column cols="6" class="footer text-right">
     <span class="primary-color">Face</span><span class="error-color">chats</span>. by <a href="#">Asychronous</a>
   <column>
 <row>
</footer>
