<footer>
 <row centered>
   <column cols="6" class="footer text-right">
     <span class="primary-color">Face</span><span class="error-color">chats</span>. by <a href="https://github.com/Asychronous" target="_blank">Asychronous</a> at , credit to <a href="https://github.com/Asychronous/facechat-web/blob/master/README.md#credit" target="_blank">these awesome projects.</a>
     <br/><br/>
     <center>
       <a href="https://github.com/orgs/Asychronous/people" target="_blank"><img src="https://img.shields.io/badge/Taiwan-Hackthon_13-brightgreen.svg" alt="" /></a><br/><br/>
       <i class="fa fa-coffee" style="color: brown;"></i>
     </center>
   <column>
 <row>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
<script src="/javascripts/main.js" charset="utf-8"></script>
