<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header %>
</head>
<body>
  <% include ./partials/banner %>
  <div class="landing-section">
    <row centered>
      <column cols="6" class="inner-landing-section">
        <!-- Introduction section -->
        <section class="intro-section text-centered">
          <span class="primary-color"><i class="fa fa-comment"></i> Face</span><span class="error-color">chats</span>.<br/><br/>
          Chat with the world anomously just in Facebook!<br/><br/>
          No extra apps, just use facebook messenger.<br><br/>
          <span class="login-msg error-color">Loading information of Facebook.</span>
          <br/>
          <button class="fb-login-btn" type="primary" style="display:none;">Sign up with <i class="fa fa-facebook-square"></i></button>
          <button class="fb-logout-btn" type="primary" style="display:none;">Log out <i class="fa fa-facebook-square"></i></button>
        </section>

      </column>
    </row>
  </div>

  <div>
    <row centered>
      <column cols="6">
        <!-- Introduction section -->
        <h1><i class="fa fa-users error-color"></i> How this work ?</h1>
        <section class="manual-section text-left">
          <ol>
            <li>Our friendly <i class="fa fa-facebook-square"></i> Bot <a href="https://www.facebook.com/profile.php?id=100010661648426" target="_blank">Venus Doe</a> will be a proxy helps you chat with stranger anonmously!</li>
            <li>Your informations will not be public without your permissions.</li>
          </ol>
        </section>

      </column>
    </row>
  </div>

  <div>
    <row centered>
      <column cols="6">
        <!-- Introduction section -->
        <h1 id="tutor"><i class="fa fa-terminal primary-color"></i> <span class="gray-color">Basic Command</span></h1>
        <section class="manual-section text-left">
          <i class="fa fa-check-circle-o"></i> Get started - Open message box of <i>Venus Doe</i>.
          <ul>
            <li><i>#chat</i> - To Start a random chat.</li>
          </ul>
          <i class="fa fa-comments-o"></i> When chatting...
          <ul>
            <li><i>#next</i> - Leave and find a new stranger.</li>
            <li><i>#leave</i> - Leave the chat.</li>
            <li><i>#invite</i> - You can use this command if you want make friend with stranger.
              <br/> We will provide facebook link of each other if both send #invite! <i class="fa fa-thumbs-o-up"></i>
            </li>
          </ul>
          <i class="fa fa-exclamation-triangle"></i> When we can't find stranger for you unfortunately after waiting 30"...
          <ul>
            <li><i>#yes</i> - Wait a new stranger!</li>
            <li><i>#no</i> - Leave :(</li>
          </ul>
        </section>

      </column>
    </row>
  </div>

  <img class="chat-demo-img" src="./images/record.gif" alt="" />
    <% include ./partials/footer %>
    <script>
      $(document).ready(function() {
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1390511594581802',
            xfbml      : true,
            version    : 'v2.5'
          });

          FB.getLoginStatus(function(response) {
            checkLoginState();
          });
        };
        // Load the SDK asynchronously
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // This is called with the results from from FB.getLoginStatus().
        function loginUser(response) {
          FB.login(checkStatus, {scope: 'public_profile,email'});
        }

        function checkStatus(response) {
          var $loginMsg = $('.login-msg');
          var $fbLoginBtn = $('.fb-login-btn');

          if (response.status === 'connected') {
            getUserInfor();
            $loginMsg.html('');
          } else if (response.status === 'not_authorized') {
            $fbLoginBtn.css('display', '');
            $loginMsg.html('');
          } else {
            $fbLoginBtn.css('display', '');
            $loginMsg.html('');
          }
        }

       function checkLoginState() {
          FB.getLoginStatus(checkStatus);
        }
        var user_data;
        function getUserInfor() {
          FB.api('/me',{fields: "id,about,age_range,picture,bio,birthday,context,email,first_name,gender,hometown,link,location,middle_name,name,timezone,website,work"}, function(response) {
            $('.login-msg').html('You have been registered as ' + response.name);
            $('.login-msg').append('<br/><br/><a href="#tutor" class="no-text-decoration"><span class="label label-error" outline>See the guide first below :)<span></a> <br/><br/> and then you can ...<br/><br/> <a href="https://www.facebook.com/profile.php?id=100010661648426" target="_blank" style="text-decoration: none;"><span class="label label-primary" outline>Start chatting with stranger :)</span></a><br/>');
            $('.fb-login-btn').css('display', 'none');
            $('.fb-logout-btn').css('display', '');
            // console.log('Successful login for: ' + response.name);
            // console.log('id:'+response.id);
            // console.log('birthday:'+response.birthday);
            // console.log('gender:'+response.gender);
            // console.log('age_range:'+response.age_range);
            // console.log('min_age_range:'+response.age_range.min);
            // console.log('max_age_range:'+response.age_range.max);
            // console.log('link:'+response.link);
            // console.log('email:'+response.email);
            // console.log('picture:'+response.picture);
            user_data = response;
            $.ajax({
                url: 'users/signin',
                data: user_data,
                type:"POST",
                success: function(msg){
                    // alert(msg);
                },

                 error:function(xhr, ajaxOptions, thrownError){
                    // alert(thrownError);
                 }
            });
          });
        }

        $('.fb-login-btn').click(function(e) {
          e.preventDefault();
          loginUser();
        });

        $('.fb-logout-btn').click(function(e) {
          FB.logout(function(res) {
            var $loginMsg = $('.login-msg');
            var $fbLoginBtn = $('.fb-login-btn');

            $fbLoginBtn.css('display', '');
            $('.fb-logout-btn').css('display', 'none');
            $loginMsg.html('');
          });
        });

      });
    </script>
  </body>
  </html>
