<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header %>
</head>
<body>
  <% include ./partials/banner %>
  <div class="landing-section">
    <row centered>
      <column cols="6" class="inner-landing-section">
        <!-- Introduction section -->
        <section class="intro-section text-centered">
          <span class="primary-color"><i class="fa fa-comment"></i> Face</span><span class="error-color">chats</span>.<br/><br/>
          Chat with the world anomously just in Facebook!<br/><br/>
          No extra apps, just use facebook messenger.<br><br/>
          <span class="login-msg error-color">Loading information of Facebook.</span>
          <br/>
          <button class="fb-login-btn" type="primary" style="display:none;">Sign up with <i class="fa fa-facebook-square"></i></button>
          <button class="fb-logout-btn" type="primary" style="display:none;">Log out <i class="fa fa-facebook-square"></i></button>
        </section>

      </column>
    </row>
  </div>

  <div>
    <row centered>
      <column cols="6">
        <!-- Introduction section -->
        <h1><i class="fa fa-users error-color"></i> How this work ?</h1>
        <section class="manual-section text-left">
          <ol>
            <li>Our friendly <i class="fa fa-facebook-square"></i> Bot <a href="https://www.facebook.com/profile.php?id=100010661648426" target="_blank">Venus Doe</a> will be a proxy helps you chat with stranger anonmously!</li>
            <li>Your informations will not be public without your permissions.</li>
          </ol>
        </section>

      </column>
    </row>
  </div>

  <div>
    <row centered>
      <column cols="6">
        <!-- Introduction section -->
        <h1 id="tutor"><i class="fa fa-terminal primary-color"></i> <span class="gray-color">Basic Command</span></h1>
        <section class="manual-section text-left">
          <i class="fa fa-check-circle-o"></i> Get started - Open message box of <i>Venus Doe</i>.
          <ul>
            <li><i>#chat</i> - To Start a random chat.</li>
          </ul>
          <i class="fa fa-comments-o"></i> When chatting...
          <ul>
            <li><i>#next</i> - Leave and find a new stranger.</li>
            <li><i>#leave</i> - Leave the chat.</li>
            <li><i>#invite</i> - You can use this command if you want make friend with stranger.
              <br/> We will provide facebook link of each other if both send #invite! <i class="fa fa-thumbs-o-up"></i>
            </li>
          </ul>
          <i class="fa fa-exclamation-triangle"></i> When we can't find stranger for you unfortunately after waiting 30"...
          <ul>
            <li><i>#yes</i> - Wait a new stranger!</li>
            <li><i>#no</i> - Leave :(</li>
          </ul>
        </section>

      </column>
    </row>
  </div>

  <img class="chat-demo-img" src="./images/record.gif" alt="" />
    <% include ./partials/footer %>
  </body>
  </html>
