@import url(https://fonts.googleapis.com/css?family=Lora);
body, html{
  width: 100%;
  height: 100%;
  font: 14px "Lora", "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/geometry2.png);
}

a {
  color: #00B7FF;
}

.header {
  padding: 40px 0 20px 0;
  border-bottom: 2px solid gray;
}

.inner-landing-section {
  background: url(../images/landing-earth.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 450px;
  border: 1px solid #eee;
}

.chat-demo-img {
  position: fixed;
  bottom: 0;
  right: 20px;
  -moz-box-shadow:4px -4px 3px rgba(20%,20%,40%,0.5);
  -webkit-box-shadow:4px -4px 3px rgba(20%,20%,40%,0.5);
  box-shadow:4px -4px 3px rgba(20%,20%,40%,0.5);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}

@media screen and (max-width: 630px)
{
  .chat-demo-img{
    position: relative;
    display: block;
    margin: 0 auto;
  }
}

.intro-section {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #eec;
  display: table;
  font-size: 1em;
  margin: 100px auto;
  padding: 10px;
  background: #eee;
  opacity: 0.8;
  color: black;
}

.footer {
  padding-top: 20px;
  border-top: 2px solid gray;
}

/* Helpler elements */
.primary-color {
  color: #2f77d1;
}

.error-color {
  color: #d11149;
}

.gray-color {
  color:gray;
}

.no-text-decoration {
  text-decoration: none;
}
